RewriteEngine On
RewriteRule home index.php?controller=home
RewriteRule gio-hang-cua-ban.html index.php?controller=cart&action=index
#/index.php?controller=product&action=detail&id=7
# - Rewrite cho trang chi tiết sản phẩm:
# chi-tiet-san-pham/7
# Với tham số động, bắt buộc phải dùng Biểu thức chính
# quy - Regex
RewriteRule chi-tiet-san-pham/([0-9]{1,}) index.php?controller=product&action=detail
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?controller=product&action=showAllProductsByCategory&name=$1
RewriteRule giam-gia.html index.php?controller=product&action=saleProducts
RewriteRule ^([a_zA-Z0-9_-]+)/orderBy=^([a_zA-Z0-9_-]+)$ index.php?controller=product&action=orderBy&name=$1&orderBy=$2
RewriteRule checkout.html index.php?controller=payment&action=order
RewriteRule cam-on.html index.php?controller=payment&action=thank
RewriteRule paypal.html index.php?controller=payment&action=paypal
RewriteRule tim-kiem.html index.php?controller=product&action=searchProducts